.card {
  width: $card-width;
  border: 1px solid $color-border;
  border-radius: 16px;
  padding: 16px 8px;
  font-family: $font-main;
  color: $color-text;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
  
  /* NUEVO: Preparamos la tarjeta para que se anime suavemente */
  transition: transform 300ms ease;

  &__image {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    margin-bottom: 40px;

    img {
      width: 160px;
      height: 134px;
      object-fit: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
  }

  &__title {
    margin: 0;                
    font-family: $font-main;  
    font-size: 12px;
    font-weight: 500;         
    line-height: 1.5;         
    color: $color-text;
    letter-spacing: 0;
    
    /* NUEVO: Transición suave también para el color del texto */
    transition: color 300ms ease;
  }

  &__sku {
    margin: 0;                
    font-family: $font-main;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    color: $color-text-secondary;
    letter-spacing: 0;
  }

  &__reviews {
    margin-bottom: 24px; 
  }

  &__price {
    margin-bottom: 16px;
  }

    /* Preguntar porque movimos hasta abajo este estado de hover */
    &:hover {
      transform: scale(1.2); /* Crece un 20% */
  
      /* Al hacer hover en la card, cambiamos el color del título interno */
      .card__title {
        color: #34568b;
      }
    }
  
}