@import "./variables";

.reviews {
  display: flex;       // Convertimos el contenedor en flexbox
  align-items: center; // Centramos verticalmente estrellas y texto
  justify-content: space-between;          // Aquí va el gap exacto de Figma

  &__count {
    font-size: 10px;
    line-height: 1.4;
    color: $color-text-secondary;
    font-family: $font-main;
  }
}
